{% extends "base.html" %}

{% block contents %}
<div class="main">

  <div class="main">
    <div class="container">
      <div class="card border-{% if form.errors %}danger{% else %}second{% endif %} mb-3" style="width: 25rem; position: fixed; left: 50%; margin: 0 0 0 -12.5rem;">
        <div class="card-header text-center">サインアップ</div>
        <div class="card-body">
          {% if form.errors %}
            <p class="text-danger">Your username and password didn't match. Please try again.</p>
          {% endif %}
          {% if next %}
            {% if user.is_authenticated %}
              <p>Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
            {% else %}
              <p>Please login to see this page.</p>
            {% endif %}
          {% endif %}

          <form method="post">
            {% csrf_token %}
            <div class="form-group row">
              <div class="col-sm-4">
                {{ form.name.label_tag }}
              </div>
              <div class="col-sm-8">
                {{ form.name }}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                {{ form.email.label_tag }}
              </div>
              <div class="col-sm-8">
                {{ form.email }}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                {{ form.first_name.label_tag }}
              </div>
              <div class="col-sm-8">
                {{ form.first_name }}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                {{ form.last_name.label_tag }}
              </div>
              <div class="col-sm-8">
                {{ form.last_name }}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4 d-flex align-items-center">
                {{ form.password1.label_tag }}
              </div>
              <div class="col-sm-8">
                {{ form.password1 }}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4 d-flex align-items-center">
                {{ form.password2.label_tag }}
              </div>
              <div class="col-sm-8">
                {{ form.password2 }}
              </div>
            </div>

            <div class="form-group text-right">
              <input class="btn btn-outline-info" type="submit" value="サインアップ" />
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
{% endblock %}
